.security{
    display: flex;
    height: auto;
    

    .securityContainer{
        width: 100%;

        .background{
            display: flex;
            height: 50vh;
            opacity: 1;
        }

        .heading-title{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            height: auto;
            width: auto;
            padding: 10px;
            text-align: left;
            left: 10vw;
            top: 25vh;
            .title{
                color: #fff;   

                p{
                    width: 80vw;
                }
            }
        }

        .services{
            background-color: #fff;
            height: auto; 
            justify-content: space-evenly;
            width: 100%;
            flex-wrap: wrap;
            padding: 50px;
            display: flex;

            .header{
                flex: 2;
                height: auto;
                width: 100%;
                padding: 20px;
                margin: 20px;

                h1{
                    color: #232443;
                }

                h2{
                    padding-bottom: 10px;
                    color: #000;
                }

                p{
                    text-align: justify;
                    font-size: large;
                }

                img{
                    height: 30vh;
                }

                .socials{
                    display: flex;

                    h1{
                        padding: 15px;
                        cursor: pointer;

                        a{
                            color: #232443;
                        }
                    }
                    
                }
            }

            .statement{
                flex: 3;
                height: auto;
                width: 100%;
                padding: 20px;
                margin: 20px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

                form{

                    .form{
                        padding: 5px;

                        input{
                            width: 100%;
                            height: 5vh;
                        }
    
                        textarea{
                            width: 100%;
                            height: 20vh;
                        }
                    }

                    button{
                        width: 30%;
                        height: 5vh;
                        border: none;
                        margin: 5px;
                        background-color: #bebec3;
                    }

                    button:hover{
                        background-color: #232443;
                        color: #fff;
                        transition: .5s;
                        cursor: pointer;
                    }
                }
                
            }

        }        
    }
}