.crm{
    background-position: center;
    display: flex;
    height: auto;
    

    .crmContainer{
        width: 100%;

        h2{
            padding: 30px;
        }

        .background{
            display: flex;
            background-color: black;
            height: 50vh;
        }

        .heading-title{
            position: absolute;
            background-color: rgba(0, 0, 0, 0.8);
            height: auto;
            width: 50vw;
            padding: 10px;
            text-align: left;
            left: 10vw;
            top: 30vh;
            .title{
                color: #fff;   
            }
        }

        .content-element{
            height: fit-content;
            margin: 50px;

            .header{
               height: 100%; 

                .services-header{
                    h3{
                        color: #232443;
                        font-size: 30px;
                        padding: 15px;
                    }
    
                    p{
                        color: #000;
                        font-size: 20px;
                        text-align: justify;
                        padding: 15px;
                    }
                }
            }

        }

        .head{
            h1{
                text-align: center;
                padding: 10px;
            }

            h2{
                text-align: center;
                padding: 30px;
                color: #232443;
            }
            p{
                text-align: center;
            }
        }
        .services{
            display: flex;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
            height: auto; 
            justify-content: center;
            width: 100%;
            flex-wrap: wrap;
            padding: 20px;
            text-align: justify;


            .service{
                height: auto;
                width: 22%;
                padding: 30px;
                margin: 10px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
                position: relative;
                cursor: pointer;

                
            }


        }        
    }
}