.controlTower{
    display: flex;
    height: auto;
    

    .controlTowerContainer{
        width: 100%;

        .background{
            display: flex;
            height: 50vh;
        }

        .heading-title{
            position: absolute;
            background-color: rgba(255, 255, 255, 0.1);
            height: auto;
            width: auto;
            padding: 10px;
            text-align: left;
            left: 10vw;
            top: 30vh;
            .title{
                color: #fff;   
            }
        }

        .services{
            background-color: #fff;
            height: auto; 
            justify-content: space-evenly;
            width: 100%;
            flex-wrap: wrap;
            padding: 50px;

            .heading{
                color: #000;

                h1{
                    padding: 15px;
                }
            }

            .header{
                height: auto;
                width: 100%;
                padding: 10px;
                margin: 10px;

                h1{
                    color: #232443;
                }

                img{
                    height: 30vh;
                }
            }
        }        
    }
}